body{
    background: linear-gradient(to right, #90A8C3, #4F518C);
    color: #fff;
    font-family: "Jersey 15", sans-serif;
    box-sizing: border-box;
}

.chero{
    padding-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: space-between;

    background-color: linear-gradient(to right, #90A8C3, #4F518C);
}
.chero-text{
    text-align: left; 
    padding-top: 150px;
}
.chero-text h1{
    margin-bottom:  5px;;
    padding-left: 70px;
    font-size: 120px;
    text-align: center;
}

.chero-text p{
    margin-top: 0;
    font-size: 50px;
    padding-left: 70px;

}
.chero img{
    padding-top: 330px;
    padding-right: 250px;
    height: 450px;
    width: 450px;
    
}

.infob{
    width:100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #444680;
    margin-top: 300px ;
    border-radius: 25px;
   
}

.infob img{
    padding-left: 100px;
    width: 45%;
    height: 80%;
    border-radius: 10px;
}

.infob-text{
    color: black;
    width: 50%;
    text-align: center;

}

.infob-text h2{
    font-size: 80px;
    border: none;
}

.team{
    padding: 50px;
}
.team h1{
    color: black;
    font-size: 90px;
    margin-bottom: 20px;
    text-align: center;
}
.team h2{
    color: white;
}

.team-members{
    display: flex;
    justify-content: center;
}

.team-member{
    background-color: rgb(10, 7, 22);
   /* background-color: #444680;*/
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height:400px;
    text-align: center;
}
.team-member img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
.team-member h2{
    font-size: 20px;
    margin-bottom: 10px;
    font-family:  'Lucida Sans';
}
.team-member p{
    font-size: 20px;
}
